SOURCE_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.os9spnq.mongodb.net/<SOURCE_DB>?retryWrites=true&w=majority&appName=Cluster0
TARGET_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.rmsmw.mongodb.net/<TARGET_DB>?appName=Cluster0

SOURCE_DB=SourceDB
TARGET_DB=TargetDB